// Specific CSS for your home-page
.homepage-wrapper {
    background-image: url(https://media.istockphoto.com/id/1035153006/photo/young-woman-expecting-a-new-baby.webp?s=612x612&w=0&k=20&c=GdCmy-8M_Lpu-KGQBUN7GxmZLe5dQEVg8-5S7DAgcOI=);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    opacity: 0.75;
}

h1,h2,h3,h4,h5 {
    font-family: 'Lobster', cursive;
    color:rgb(0, 68, 68);
}
p {
    font-family: 'Philosopher', sans-serif;
    color:rgb(0, 68, 68);
}