
  <%# <div class="container"> %>
    <%= simple_form_for([user, conversation]) do |f| %>
      <button type="submit" class="chat-icon chat-icon-wrapper"><i class="fa-solid fa-comments fa-xs " style="color: #004444;"></i></button>
    <% end %>
  <%# </div> %>
