
  <div class="container">
    <%= simple_form_for([user, conversation]) do |f| %>
    <div class= "d-flex justify-content-center p-3">
      <%= f.submit "Start a conversation", class: "btn-submit" %>
    <% end %>
    </div>
  </div>
