<div class="conversation"
  data-controller="conversation-subscription"
  data-conversation-subscription-conversation-id-value="<%= @conversation.id %>"  style=" height: 65vh;">

  <div class="my-3">
    <div id ="chatbox" class="messages" data-conversation-subscription-target="messages" style=" height: 65vh; overflow: scroll;">
      <% @conversation.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>

  <div class= "p-1 my-4" >
    <div class= "container p-1 my-4 position-relative">
      <%= simple_form_for [@conversation, @message], html: {data: { action: "turbo:submit-end->conversation-subscription#resetForm" }, class: ""} do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Enter your message here",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <button type="submit" class="send-icon"><i class="fa-solid fa-paper-plane fa-xl" style="color: #004444;"></i></button>
      <% end %>
    </div>
  </div>
</div>

<script>
  var objDiv = document.getElementById("chatbox");
    if ( window.history.replaceState ) {
      objDiv.scrollTop = objDiv.scrollHeight;

      window.history.replaceState( null, null, 
      window.location.href );
    }
</script>