<%# <% hash = {} %>
<% if request.path == "/" %> 
  <h1>TokyoGlow</h1>
<% elsif request.path.include? "hospital" %>
  <h1>Hospitals</h1>
<% elsif request.path.include? "post" %>
  <h1>Posts</h1>
<% elsif request.path.include? "calendar" %>
  <h1><%= current_user.username %>`s calendar</h1> 
<% elsif request.path.include? "user" %> 
  <h1>Profile</h1>
<% elsif request.path.include? "event" %> 
  <h1>Events</h1>
<% end %>

