<%# <div class="position-relative homepage-wrapper"> %>
  <div class="homepage-wrapper">
    <h3 class="text-center"> Connecting People...</h3>
    <p class="text-center"> Expect your pregnancy to be simpler </p>
    <div>
      <%= link_to "LogIn", new_user_session_path, class: "btn" %>
    </div>
  </div>
<%# <div> %>
