.accordion-button {
  background-color: $navbar-pink !important;
  color: $lettering-blue !important;
  box-shadow: 0 0 0 !important;
}

.accordion-button::after {
  color: $lettering-blue !important;
}

.collapsed {
  background-color: $navbar-pink !important;
  color: $lettering-blue !important;
}

.collapsed::after {
  color: $lettering-blue !important;
}

#article-img {
    width: 100%;
    height: 200px;
}

