.btn-submit {
  color: $navbar-pink;
  padding: 8px 24px;
  border-radius: 4px;
  border: outset 2px black;
  background: #0a0a0a;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-hire:hover {
  color: black;
  border: outset 2px $navbar-pink;
  background-color: $navbar-pink;
}

.btn-hire:active, button:active {
  border: inset 2px $navbar-pink;
  color: black;
  background-color: $navbar-pink !important;
}

button > a {
  text-decoration: none;
  color: $navbar-pink;
}

button:hover > a {
  color: black !important;
}

#delete-btn:hover {
  color: black;
  border: outset 2px rgb(220,20,60);
  background-color:rgb(220,20,60);
}

#delete-btn {
  color: $navbar-pink;
}

.back-button-wrapper {
  a {
    color: white;
    text-decoration: none;
    border: outset 2px black;
    background-color: blue;
    padding: 2px;
    padding: 8px 24px;
    border-radius: 4px;
  }
}

.delete-button-wrapper {
  button {
    color: black;
    background: $navbar-pink;
    padding: 8px 24px;
    border-radius: 4px;
  }
}

.button-margin {
  margin-bottom: 50px; /* Add space at the bottom of the content */
}
.post-btn {
  color: black;
  background: $navbar-pink;
}

.btn-primary {
  background-color: #8064A2 !important;
  border: #8064A2 !important;
}

.btn-success {
  background-color: $lettering-blue !important;
  border: $lettering-blue !important;
  color: white !important;
}

.rounded {
  border-radius: 4px;
}

.btn-main {
  color: $navbar-pink;
  text-shadow: 1px 1px 2px $silver-background;
  padding: 8px 24px;
  border-radius: 20px;
  border: solid 3px $icon-blue-border;
  background-color: $lettering-blue;
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: large;
  transition: background-color 0.3s ease;
}

.btn-main-2 {
  color: $navbar-pink;
  text-shadow: 1px 1px 2px $silver-background;
  padding: 4px 12px;
  border-radius: 10px;
  border: solid 3px $icon-blue-border;
  background-color: $lettering-blue;
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: small;
  transition: background-color 0.3s ease;
}

.btn-main:active {
  background: $navbar-pink;
  color: $lettering-blue;
}

.delete-icon {
  border: none;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  background-color: inherit;
  // font-family: 'Philosopher', sans-serif;
  // z-index: 10;
}

.send-icon {
  border: none;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background-color: inherit;
}

.chat-icon-wrapper {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $icon-blue-border;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 1px 1px;
}

.chat-icon {
  position: absolute;
  top: 0.2rem;
  right: 1.5rem;
  background-color: inherit;
}

.small-chat-icon {
  border: none;
  position: absolute;
  top: 0rem;
  right: -3rem;
  background-color: inherit;
  width: 25px;
  height: 25px;
  border: 2px solid $icon-blue-border;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px;
}

.logout-icon{
  border: none;
  background-color: inherit;
}
