.card-container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
  background: $navbar-pink !important;
  // h4 {
    // color: #716893;
  // }
}

.text-bg-purple {
  background: purple;
}

img {
  border-radius: 5px 5px 0 0;
}

.card-border {
  border-top: 5px solid black;
}

.hospital-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-container {
  width: 100%;
  height: 20rem;
}

.rating {
  position: absolute;
  top: 2.5rem;
  left: 2rem;
}

// .hospital-description {
//   overflow: hidden;
//   height: 50px;
//   line-height: 16px;
//   position: relative;
//   word-wrap: break-word;
// }

// .hospital-description:after { 
//   content: "...";
//   // background: darkgrey; 
//   // color: black; 
//   position :absolute;
//   right: 0;
//   bottom: 2px;
// }
