.hospital-show-image{
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

.back-btn{
  display: flex;
  justify-content: right;
  a{
    background-color:  rgb(255,196,12)
  }
}

.website {
  color: inherit;
  // font-style: none;
}


.toogle-bar {
  border: 1px solid #8064A2;;
  border-radius:  6px;
}