// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "hospital_show";
@import "pageframe";
@import "calendar";
@import "accordian";
@import "stars";
