.banner {
  background-color: $navbar-pink;
  width: 100vw;
}

.icon-border {
  border: 2px solid $icon-blue-border;
  border-radius: 50%;
}

.footer {
  background-color: $navbar-pink;
  width: 100vw;
}
